:root {
  --theme-color: #0056e8;
  --light-theme-color: #2274ff;
  --dark-theme-color: #002462;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --title-size: 48px;
  --small-title-size: 32px;
  --large-title-size: 72px;
  --text-size: 16px;
  --small-text-size: 13px;
  --large-text-size: 19px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: var(--large-title-size);
  letter-spacing: 2px;
}

h2, h3 {
  font-size: var(--title-size);
}

h4, h5, h6 {
  font-size: var(--small-title-size);
}

body {
  font-family: "Raleway", "Open Sans";
  font-variant-numeric: lining-nums;
  color: var(--dark-color);
  font-size: var(--text-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
