.login_page_container {
    position: relative;
    min-height: 100%;
}

.login_page_container > .login_form_container {
    padding: 1em;   
    width: 50%;
}

.login_page_container > .welcome_container {
    position: fixed;
    background: url(../../../public/images/backgrounds/login_welcome_bg.png) center/cover no-repeat;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 10% 0 0 10% / 100% 0 0 100%;
    padding: 1em 3em 1em;
}

.welcome_title {
    text-shadow: 1px 1px 2px var(--dark-theme-color);
}

.welcome_title > p {
    font-size: var(--large-text-size); 
    font-weight: 600;
}

.welcome_container > img {
    height: 25em;
}

.welcome_container > .social_medias {
    width: max-content;
    margin-left: auto;
}