.training_plan_card {
    padding: 1em 0;
}

.training_day {
    border: 2px solid var(--light-theme-color);
    padding: 1em 0;
}

.step {
    border: 2px solid var(--gray-color);
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.steps {
    padding: 1em;
    background-color: var(--light-theme-color);
}