.code_confirmation_form_container > p {
    text-align: center;
    font-size: var(--large-text-size);
}

.code {
    width: max-content;
}

.user_info {
    text-align: center;
}

.user_info > span {
    font-weight: var(--medium-font-weight);
    color: var(--light-theme-color);
}