.config_form_container {
    height: 100dvh;
}

.title_and_photo_container,
.config_form {
    height: 100%;
    padding: 2em 1em;
}

.title_and_photo_container {
    background: url(../../../../public/images/backgrounds/login_welcome_bg.png) center/cover no-repeat;
    font-weight: var(--medium-font-weight);
}

.title_container > p {
    font-size: var(--large-text-size);
    text-align: center;
    color: var(--dark-color);
}

.config_alert {
    color: var(--white-color);
    justify-content: center;
}