.sets {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid var(--theme-color);
    gap: 1em;
}

.set {
    flex: 1;
    max-width: 20em;
    border: 1px solid var(--theme-color);
}