
.checkbox_input > input {
    display: none;
}

.checkbox_input > span {
    font-size: var(--large-text-size);
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5em;
}

.checkbox_input > label {
    --height: 1.5em;
    --width: 3.5em;
    width: var(--width);
    height: var(--height);
    background: var(--white-color);
    border: 1px solid var(--dark-theme-color);
    border-radius: calc(var(--height) / 2);
    position: relative;
    cursor: pointer;
    transition: var(--fast-transition);
}

.checkbox_input > label > span {
    --size: calc(var(--height) - (var(--margin) * 2) - 2px);
    --margin: 2px;
    content: '';
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    width: var(--size);
    height: var(--size);
    background: var(--light-theme-color);
    border-radius: 50%;
    transition: var(--fast-transition);
}

.checkbox_input > input:checked + label {
    background: var(--light-theme-color);
}

.checkbox_input > input:checked + label > span {
    background-color: var(--white-color);
    transform: translateX(calc(var(--width) - var(--size) - calc(var(--margin) * 2) - 2px));
}

.checkbox_input > p {
    font-size: var(--small-text-size);
    color: var(--theme-color);
}