
.checkbox_input > input {
    display: none;
}

.checkbox_input > span {
    font-size: var(--large-text-size);
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.5em;
}

.checkbox_input > label {
    width: 3.5em;
    height: 1.5em;
    background: var(--light-color);
    border-radius: 0.75em;
    position: relative;
    cursor: pointer;
    transition: var(--fast-transition);
    border: 1px solid var(--dark-theme-color);
}

.checkbox_input > label > span {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(1.5em - 6px);
    height: calc(1.5em - 6px);
    background: var(--light-theme-color);
    border-radius: 50%;
    transition: var(--fast-transition);
}

.checkbox_input > input:checked + label {
    background: var(--light-theme-color);
}

.checkbox_input > input:checked + label > span {
    background-color: var(--light-color);
    transform: translateX(calc(3.5em - 1.5em));
}

.checkbox_input > p {
    font-size: var(--small-text-size);
    color: var(--dark-theme-color);
}