.code {
    --padding: 0.1em;
    font-size: var(--large-title-size);
    font-family: var(--fonts-1);
    border-radius: 20px;
    border: 2px solid var(--theme-color);
    padding: var(--padding);
    color: var(--theme-color);
    background-color: transparent;
    text-align: center;
    width: calc(var(--large-title-size) + 0.05em + var(--padding));
    transition: var(--fast-transition);
    caret-color: transparent;
} 

.code:focus {
    transform: scale(1.1);
    border-color: var(--dark-theme-color);
}