.message_input > textarea {
    width: 100%;
    min-height: 100%;
    border: none;
    resize: none;
    font-size: var(--text-size);
    background-color: transparent;
}

.message_input > p {
    font-size: var(--small-text-size);
    color: var(--alert-color);
    visibility: hidden;
    width: 100%;
}

.message_input > p.visible {
    visibility: visible;
}