.select_container {
    --padding: 0.6em;
    width: 100%;
}

.select_container > label {
    --size: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    font-size: var(--large-text-size);
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.2em;
    padding: 0 var(--padding);
}

.select_container > label > img {
    height: var(--size);
    width: var(--size);
}

.select_container.dark_theme > label > img {
    filter: invert(1);
}

.select_container > label > p {
    line-height: var(--size);
}

.select,
.select > ul > li {
    width: 100%;
    border: var(--border-size) solid var(--text-color);
    cursor: pointer;
}

.select {
    --border-size: 1px;
    position: relative;
    font-size: var(--text-size);
    border-radius: var(--input-border-radius);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.select > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    z-index: 8;
    background-color: var(--bg-color);
    border: none;
    color: var(--text-color);
}

.select > ul {
    position: absolute;
    top: calc(var(--padding) * 2 + 1em);
    left: calc(var(--border-size) * -1);
    width: calc(100% + var(--border-size) * 2);
    max-height: 15em;
    list-style: none;
    background-color: var(--bg-color);
    overflow-y: auto;
    z-index: 8;
}

.select > div,
.select > ul > li {
    padding: var(--padding);
}

.select > ul > li:hover,
.active {
    background-color: var(--gray-color);
}
