.text_input {
    --input-border-radius: 15px;
    --margin-inline: calc(var(--input-border-radius) - 3px);
}

.text_input > label {
    --size: 1em;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    font-size: var(--large-text-size);
    font-weight: bold;
    width: 100%;
    padding: 0 var(--margin-inline);
    margin-bottom: 0.2em;
}

.text_input > label > img {
    height: var(--size);
    width: var(--size);
}

.text_input.dark_theme > label > img {
    filter: invert(1);
}

.text_input > label > p {
    line-height: var(--size);
}

.text_input :where(input, textarea) {
    padding: 0.8em;
    width: 100%;
    font-size: var(--text-size);
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
}

.text_input input {
    border-radius: var(--input-border-radius);
}

.text_input > textarea {
    height: 100%;
    min-height: 10em;
    resize: none;
}

.text_input > p {
    font-size: var(--small-text-size);
    color: var(--alert-color);
    visibility: hidden;
    width: 100%;
    padding: 0 var(--margin-inline);
}

.text_input > p.visible {
    visibility: visible;
}

.password_input {
    position: relative;
}

.password_input > input {
    padding-right: 3em;
}

.password_input > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
}