.alert_sign {
    --size: var(--large-text-size);
    min-height: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    border: 2px solid var(--var-color);
    cursor: default;
    user-select: none;
    text-align: center;
    font-size: calc(var(--size) - 4px) !important;
    font-weight: bold !important;
    color: var(--var-color);
    padding: 0;
}