.alert_sign {
    height: var(--var-size);
    width: var(--var-size);
    border-radius: 50%;
    border: 1px solid var(--var-color);
    position: relative;
    display: inline-block;
}

.alert_sign::before {
    content: "!";
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: calc(var(--var-size) - 2px);
    color: var(--var-color);
}