.small_professional_card,
.training_contract_card {
    border: 3px solid var(--dark-theme-color);
    border-radius: 20px;
    padding: 1em;
}

.payment_plan_info {
    background-color: var(--light-theme-color);
    padding: 0.5em;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: max-content;
    font-weight: bold;
}

.professional_name_container {
    padding: 1em;
    background-color: var(--light-theme-color);
    font-weight: bold;
    border-radius: 10px;
}

.professional_name_container > span {
    min-width: max-content;
}

.payment_plans_container > span {
    font-weight: bold;
    font-size: var(--large-text-size);
}

.descriptioned_item > span:first-of-type {
    font-weight: bold;
}

.trainer_cannot_be_contracted {
    color: var(--light-theme-color);
}

.specialties {
    width: max-content;
}

.specialties > .specialty {
    border: 1px solid var(--dark-theme-color);
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--light-theme-color);
    cursor: pointer;
    transition: var(--fast-transition);
}

.specialties > .specialty:hover {
    transform: scale(1.05);
}

.specialties > .specialty > img {
    height: 2em;
    filter: drop-shadow(-1px 1px 1px var(--dark-color));
}

.specialties > .specialty > span {
    hyphens: none;
    font-weight: bold;
}

.extra_specialties_count {
    min-width: max-content;
}