.back_button {
    border-radius: 50%;
    transition: all var(--fast-transition);
    position: fixed;
    right: 1.5em;
    top: 1.5em;
    padding: 0.5em;
    cursor: pointer;
    z-index: 5;
}

.back_button:hover {
    background-color: var(--gray-color);
}