.stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}