.muscle_groups {
    position: relative;
}

.muscle_groups > img:first-of-type {
    max-width: 100%;
    max-height: 23em;
    z-index: 2;
} 

.muscle_groups > img:not(:first-of-type) {
    position: absolute;
    max-width: 100%;
    max-height: 23em;
    z-index: 1;
}