.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
    color: var(--light-theme-color);
    text-decoration: none; 
    transition: var(--fast-transition); 
}

.link:hover {
    text-decoration: underline;
    color: var(--dark-theme-color);
}